 <nav class="fw do flex-container" id="dnav">
  <div class="flex-container jes">
    <p class="ib">Men's</p>
    <p class="ib">Women's</p>
    <p class="ib">Kid's</p>
  </div>
  <img src="{{'pacas.png' | asset_url}}"  class="jlogo"/>
  <div class="flex-container jes">
    <p class="ib">Our Story</p>
    <p class="ib">Live Feed</p>
    <img src="{{'cart.png' | asset_url}}" class="cart-icon" />
  </div> 
 </nav> 