 <nav class="fw do flex-container" id="dnav">
  <div class="flex-container jes">
    <p class="ib">Men's</p>
    <p class="ib">Women's</p>
    <p class="ib">Kid's</p>
  </div>
  <a href="/"><img src="{{'pacas.png' | asset_url}}"  class="jlogo"/></a>
  <div class="flex-container jes">
    <a href="/pages/our-story"><p class="ib">Our Story</p></a>
    <p class="ib">Live Feed</p>
    <img src="{{'cart.png' | asset_url}}" class="cart-icon" />
  </div> 
 </nav> 

 <nav class="fw mo jes tac" id="dnav">
  <div id="hamburger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <img src="{{'pacas.png' | asset_url}}"  class="jlogo"/>
  <img src="{{'cart.png' | asset_url}}" id="mobile-cart"/>
 </nav> 
