<section class="page-header" id="atf">
  <h1 class="text-white ttu nm"><em>Cozy Fleece</em></h1>
  <h2 class="accent text-white nm tac"><em>to</em></h2>
  <h1 class="text-white ttu nm tar"><em>Comfy Feet</em></h1>
  <h2 class="accent text-white nm tar"><em>in 60 days</em></h2>
  <div class="tac">
    <div class="ib cta">
      <h3 class="text-white">Shop Women</h3>
    </div>
    <div class="ib cta"> 
      <h3 class="text-white">Shop Men</h3>
    </div>
  </div>
</section>
<video class="fw" autoplay>
  <source src="{{'' | asset_url}}" type="video/mp4">
</video>
<section id="comparison" class="accent-padding">
  <h2 class="accent">Alpaca Fleece <img src="" /> Sheep Wool</h2>
  <p class="ib" id="warmer">7x warmer</p>
  <p class="ib" id="hypo">Hypoallergenic</p>
  <p class="ib" id="soft">Super Soft</p>
  <p class="ib" id="quality">Quality</p>
  <p class="ib" id="thermoregulating">Thermoregulating</p>
  <p class="ib" id="warm">Warm</p>
  <p class="ib" id="quantity">Quantity</p>
  <p class="ib" id="thermoregulating">Thermoregulating</p>
</section>
<section class="flex-container-no" id="give-the-gift">
  <div class="tac">
    <img src="{{'' | asset_url}}" />
    <h2 class="text-white">Give the Gift of <span class="accent">Comfort</span> and <span class="accent">Warmth</span></h2>
    <p class="text-white">Percentage of profits are used to dress pediatric cancer patiens in hospitals. We make you warm, you maek them warm.</p>
    <div class="accent-padding border-white ib">
      <p class="text-white">read more</p>
    </div>
  </div>
</section>
<section class="flex-container-no">
  <div class="tac">
    <h3 class="nmb">"Worlds most comfortable sock... it almost feels like butter!"</h3>
    <p class="nmt">- Chicago Time</p>
    <p class="ib">Casual</p>
    <p class="ib">Athletic</p>
  </div>
  <img src="{{'' | asset_url}}" />
</section>
<section class="accent-section">
  <div class="flex-container-no half" id="fresh">
    <div class="asc">
      <h2 class="text-white accent nm">Fresh Off the Fleece</h2>
      <p class="text-white nm">Check out our Alpaca Farms</p>
    </div>
    <p class="fe text-white">Castro | Garcia | Lopez | Alvarez </p>
  </div>
  <div class="flex-container-no half" id="index-shop-cta">
    <h2 class="text-white accent">Shop</h2>
  </div>
</section>
